{# <form method="POST" action="{{path('upload_test')}}" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Upload!</button>
    </form>
    <br>
    <br>
    <br>, use UsersController/temporaryUploadAction() for testing it #}