{% extends "base.html.twig" %}

{% block title %} My App Title Here {% endblock %}

{# Body Starts Here #}
{% block body %} 
    <h1>Create Team</h1>
    {{ include('admin/teams/partials/_form.html.twig') }}
    
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
