{% extends "base.html.twig" %}

{% block title %} My App Title Here {% endblock %}

{# Body Starts Here #}
{% block body %} 
    <h1>Admin Dashboard</h1>
    <a href="admin/signup_requests" class="btn btn-dark btn-sm" >Signup Requests</a>
    
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
