


<!DOCTYPE html>
<html>
    <body>
        <h3>Forgot Password?</h3>

        But no worries, we'll reset it for you.

        {# example, assuming you have a route named "login" #}
        To Rest your password, go to: <a href="{{ url('app_reset_password') }}?email={{email}}">Reset</a>.

        Thanks!
    </body>
</html>