<!DOCTYPE html>
<html>
    <body>
        <h3>You did it Man!</h3>

        Hi ! You are only one step away from asd registration.
        {# example, assuming you have a route named "login" #}
        To Register, go to: <a href="{{ url('app_set_password') }}?email={{email}}">Complete My Registration</a>.

        Thanks!
    </body>
</html>