


<!DOCTYPE html>
<html>
    <body>
        <h3>You did it!</h3>

        Hi ! You are only one step away from registration.

        {# example, assuming you have a route named "login" #}
        To Register, go to: <a href="{{ url('app_set_password') }}">Complete My Registration</a>.

        Thanks!
    </body>
</html>